.activity {
    display: flex;
    .activity-profile-image{
        width:40px;
        height:40px;

    }
    .activity-profile-detail{
        flex: 1;
        margin-left: 8px;
        .activity-header{
            display: flex;
            align-items: center;
            .activity-title{
                margin: 0;
                .activity-username{
                    font-size: 15px;
                    vertical-align: middle;
                }
                span{
                    font-size: 15px;
                    font-weight: normal;
                    vertical-align: middle;
                }
                
            }
            .activity-time { 
                font-size: 15px;
                margin-left: 8px;
                
            }
        }
        .activity-contents-box {
            border: 1px solid #ccc;
            display: flex;
            padding: 16px;
            .activity-target-profile-image {
                width:40px;
                height:40px;
            }
            .activity-target-profile-detail{
                flex:1;
                margin: 0 10px;
                .activity-target-profile-detail-up{
                    .activity-target-username{
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .activity-target-nickname{
                        margin-left: 8px;
                    }
                }
                .activity-user-comments{
                    margin: 8px 0;
                    
                }
                .activity-target-info{
                    font-size: 12px;
                    .activity-target-repositories{
                    }
                    .activity-target-followers{
                        margin-left: 8px;
                    }
                }
        
            }
            .activity-follow-button{
                    width: 73px;
                    height: 28px;
                    border: 1px soild #ccc;
                    background-color: #eee;
                    cursor:pointer;
                    outline: none;
                    &:hover {
                        background-color: #ddd;
                    }
            }
        }
    }
    
}
.activity-hr{
    margin: 20px 0;
    border:none;
    border-bottom: 1px solid #ccc;
}


