header {
  background-color: #24292e;
  height: 55px;
  padding: 5px;
  display: flex; }
  header .header-left {
    display: flex;
    align-items: center;
    flex: 1; }
    header .header-left .header-logo {
      width: 50px;
      height: 50px; }
    header .header-left .header-searchInfo {
      width: 273px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.125);
      border: none;
      margin: 0 10px; }
    header .header-left .header-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex; }
      header .header-left .header-nav .header-nav-list {
        color: white;
        font-weight: bold;
        margin: 0 10px; }
  header .header-right {
    display: flex;
    align-items: center; }
